{% extends 'accounts/base.html' %}
{% load static %}
<!-- {% load static %} -->
{% block content %}

<div class="container"><br>
  <div class="p-4 bg-light rounded-1 mx-auto">
    {% if arb_list %}
    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover shadow-sm mx-auto">
            <thead class="table-dark">
              <tr>
                <th scope="col" id="t-header">pair A</th>
                <th scope="col" id="t-header">pair B</th>
                <th scope="col" id="t-header">pair C</th>
                <th scope="col" id="t-header">% return</th>
                <th scope="col" id="t-header">steps</th>
              </tr>
            </thead>

              <!-- data is displayed -->
              {% for item in arb_list %}
              <tbody>
                <tr>
                  <td id="t-body">{{item.contract_1}}</td>
                  <td id="t-body">{{item.contract_2}}</td>
                  <td id="t-body">{{item.contract_3}}</td>
                  <td id="t-body">{{item.real_rate_percent |floatformat:"4"}}</td>
                  <td>
                      <button type="button" class="btn btn-sm btn-transparent p-0 my-0"  id="t-body"
                      data-bs-toggle="popover" data-bs-title="swap description" data-bs-trigger="focus"
                      data-bs-content="starting amount={{item.starting_amount}} || {{item.contract_1_description}} || {{item.contract_2_description}} || {{item.contract_3_description}}">
                      <i class="bi bi-exclamation-circle"></i>
                      </button>
                  </td>
                </tr>
              <tbody>
              {% endfor %}
            </table>
    {% else %}
      <!-- retry button is displayed in the when None is returned -->
      <div class="d-grid gap-2 col-6 mx-auto py-3">
        {% if title == binance %}
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'arb:binance' %}" role="button"><i class="bi bi-info-circle-fill"> 0 opportunities found <strong>try again</strong> </i></a>
        {% else %}
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'arb:poloniex' %}" role="button"><i class="bi bi-info-circle-fill"> 0 opportunities found <strong>try again</strong> </i></a>
        {% endif %}
      </div>
    {% endif %}
            
        <!-- <div class="card mb-3" style="max-width: 540px;"> -->
        <div class="card mb-3 shadow-sm border-0 bg-secondary">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'arb/images/ghost.png' %}" class="img-fluid rounded-start" alt="...">
                
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <br><br>
                  <h5 class="card-title fs-normal  text-light pt-4">Caution</h5>
                  <p class="card-text fs-normal text-light fs-6 ">These swaps are not profitable and are solely for informative and development purposes! <br> Do not TRADE these or mistake this to be financial advice.
                    <br>I bear no responsibility for any loss of value incured from trading the above contracts 
                    <br> <strong> PS: this is basically an audition (lol!) for an entry backend Role. cheers! @ Recruiter🥂</strong>
                   </p>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

{% endblock %}