{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom fw-light">about us! (dev and project lol) </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-2 mb-3">
            <i class="bi bi-patch-question" style="color: black;"></i>
        </div>
        <h3 class="fs-2 fw-light">Triangular arbitrage?</h3>
        <p>Triangular arbitrage is a sophisticated trading technique that takes advantage of price differences between three assets. To profit on price discrepancies, the trader trades one asset for a second, the second for a third, and the third for the first. </p>
        <a href="https://twitter.com/_Goziee_" class="icon-link d-inline-flex align-items-center">
          twitter
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-2 mb-3">
          <i class="bi bi-person-circle" style="color: black;"></i>
        </div>
        <h3 class="fs-2 fw-light">The Developer</h3>
        <p>My name is Nwachukwu Emmanuel, i am focused on transitioning from lower-management roles to backend development, Python has been both hard and wonderful to learn<strong>. I am open to junior backend roles</strong>.</p>
        
        <a href="https://www.linkedin.com/in/emmanuel-nwachukwu-96b006189" class="icon-link d-inline-flex align-items-center">
          linkedin
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-2 mb-3">
            <i class="bi bi-infinity" style="color: black;"></i>
        </div>
        <h3 class="fs-2 fw-light">What's next?</h3>
        <p>I could focus on automating the execution of these swaps (where profitable), but the goal of undertaking this project was to better understand working with APIs, i'll have to move on to learning JS frameworks and libraries to add to my skillset</p>
        <a href="https://github.com/Goz1e" class="icon-link d-inline-flex align-items-center">
          github
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>

{% endblock %}