{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Email Sent{% endblock %}

{% block content %}
  
<br><br>

  <div class="d-flex justify-content-center">
    <h4 class=" fw-light">Password reset complete!</h4>
  </div>

  <br><br><br>
  
<div class="flex-row gap-3 justify-content-around">

    <div class="row  pt-3 gap-3">

      <div id="imgdiv" class="col-sm-4 text-center shadow rounded">
        <img class="thumbnail img-responsive p-3"  src="{% static '/images/index.svg' %}" 
          style="max-width:100%;height: auto;max-height: 100%;"> 
      </div>


      <div id="imgdiv" class="col-sm-7 text-center shadow rounded">
        <div class="d-flex justify-content-center">
            <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
        </div>
      </div>
    
    </div>

    
</div>

{% endblock %}

