{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Enter new password{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% if validlink %}

<br><br><br>
<div class="d-flex justify-content-center">
    <p>change your password</p>
</div>
<br><br>


<div class="row  pt-3">

    <div id="imgdiv" class="col-sm-5 text-center shadow rounded">
      <img class="thumbnail img-responsive p-3"  src="{% static '/images/index.svg' %}" 
          style="max-width:100%;height: auto;max-height: 100%;"> 
   </div>

   <div class="col-sm-1"></div>

   <div class="col-sm-4 shadow rounded">
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
      {% endfor %}
      <form class="p-3" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-sm" type="submit" value="change my password" >change password</button>
      </form>
    </div>

</div>


{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}


<!-- <h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form> -->
